body { 
    font-family: Arial, sans-serif; 
    background-color: #1A1A1A;
} 
.loginContainer { 
    display: flex;
    flex-direction:column ;
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 20px;
    border: 2px solid #C9A86A;
    text-align: center;
    background-color: white;
    color: #C9A86A;
    justify-content: center;
    align-items: center;
}
form {
    display: grid;
    grid-template-columns: auto 1fr; /* La 1ª columna se ajusta al texto, la 2ª ocupa el resto */
    gap: 15px;      /* Espacio entre filas y columnas */
    align-items: center; 
    width: 100%;    
    max-width: 300px;
}

/* Para que el botón y el enlace ocupen las dos columnas y se centren */
button, a {
    grid-column: span 2; 
    text-align: center;
}
button{
    background-color: #C9A86A;
    border-radius: 10px;
    cursor: pointer;
}
a{
    margin-top: 10px;    
    color:#C9A86A ;
}
a:hover{
    color: purple;
}

img{
    max-width: 5vw;
}