body { 
    font-family: Arial, sans-serif; 
} 
.loginContainer { 
    display: flex;
    flex-direction:column ;
    max-width: 400px; 
    margin: 50px auto; 
    border: 1px solid #000000;     
    padding: 20px; 
    border-radius: 20px;
    text-align: center;
}
